<?xml version="1.0"?>
<!--
/**
* Copyright © Itonomy BV. All rights reserved.
* See LICENSE.md for license details.
*/
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <itonomy_flowbox>
            <general>
                <enable>1</enable>
                <debug_javascript>0</debug_javascript>
            </general>
        </itonomy_flowbox>
    </default>
</config>
