<?xml version="1.0"?>
<!--
/**
* Copyright © Itonomy BV. All rights reserved.
* See LICENSE.md for license details.
*/
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <itonomy_flowbox>
            <general>
                <enable>1</enable>
                <debug_javascript>0</debug_javascript>
                <checkout_identifier>sku</checkout_identifier>
            </general>
        </itonomy_flowbox>
        <dev>
            <js>
                <minify_exclude>
                    <flowbox>https://connect.getflowbox.com/flowbox.js</flowbox>
                    <flowbox_checkout>https://connect.getflowbox.com/bzfy-checkout.js</flowbox_checkout>
                </minify_exclude>
            </js>
        </dev>
    </default>
</config>
