<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="flowbox" translate="comment" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
            <tab>itonomy</tab>
            <resource>Itonomy_Flowbox::config</resource>
            <label>Flowbox</label>
            <group id="general" translate="label comment" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>General</label>
                <field id="enable" type="select" translate="label comment" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Enable</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="api_key" type="text" translate="label comment" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>API Key</label>
                </field>
            </group>
            <group id="flows" translate="label comment" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Flows</label>
                <group id="default_flow" translate="label comment" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Default Flow</label>
                    <field id="enable" type="select" translate="label comment" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                        <label>Enable</label>
                        <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    </field>
                </group>
                <group id="dynamic_tag_flow" translate="label comment" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Dynamic Tag Flow</label>
                    <field id="enable" type="select" translate="label comment" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                        <label>Enable</label>
                        <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    </field>
                </group>
                <group id="dynamic_product_flow" translate="label comment" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Dynamic Product Flow</label>
                    <field id="enable" type="select" translate="label comment" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                        <label>Enable</label>
                        <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    </field>
                </group>
            </group>
        </section>
    </system>
</config>
